@import url("https://fonts.googleapis.com/css?family=Anton|Roboto+Condensed");
@media all and (min-width: 600px) {
  h1 {
    font-size: 60px; }

  h2 {
    font-size: 40px;
    letter-spacing: 1px; }

  h3 {
    font-size: 25px; }

  header,
  section {
    padding: 50px 0; }

  section {
    height: 100vh; }

  .main-content {
    margin: 0 auto;
    max-width: 1024px; }

  .main-nav .name-logo {
    display: block;
    font-size: 1.2em; }
  .main-nav ul {
    margin: 20px;
    float: right; }
    .main-nav ul li {
      -webkit-transition: linear 150ms;
      transition: linear 150ms; }
      .main-nav ul li:hover {
        background-color: #40a8c4; }
      .main-nav ul li a {
        padding: 5px 25px;
        -webkit-transition: linear 150ms;
        transition: linear 150ms; }
        .main-nav ul li a:hover {
          -webkit-transform: scale(1.2);
                  transform: scale(1.2); }

  .about .col-left,
  .about .col-right {
    margin: 50px 0;
    width: 50%; }
  .about .about-image {
    display: inline-block;
    width: 100%;
    height: 50vh;
    border-radius: 0; }
  .about .col-right {
    text-align: left; }

  .skills .skill {
    padding: 2.5%;
    width: 33%; }
    .skills .skill p {
      display: block;
      font-size: 15px; }
    .skills .skill span {
      font-size: 55px; } }
