@import url("https://fonts.googleapis.com/css?family=Anton|Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Anton|Roboto+Condensed");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5em; }

h1,
h2 {
  font-family: "Anton", monospace;
  text-transform: uppercase; }

h1 {
  font-size: 50px;
  line-height: 1.2em;
  text-transform: lowercase;
  text-shadow: 2px 2px 0px black;
  letter-spacing: 2px; }

h2 {
  position: relative;
  margin-bottom: 50px;
  width: 100%;
  font-size: 25px;
  font-style: bold;
  color: #40a8c4;
  letter-spacing: 2px;
  text-align: center; }
  h2::after {
    content: '';
    position: absolute;
    top: 1.5em;
    left: 0;
    right: 0;
    margin: auto;
    height: 2px;
    width: 100px;
    background: #f8b500; }

h3 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px; }

header {
  height: 100vh; }

header,
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  width: 100%; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.ionicon {
  font-size: 40px; }

.main-header {
  background-image: url("../assets/images/ct.jpg");
  background-size: cover; }

.headline {
  width: 100%;
  color: white;
  text-align: center; }
  .headline h1 {
    margin: 0; }

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  background-color: black;
  -webkit-transition: top 0.8ms;
  transition: top 0.8ms; }
  .main-nav .name-logo {
    display: none; }
  .main-nav ul {
    list-style: none;
    padding: 0px;
    margin: 10px auto; }
    .main-nav ul li {
      display: inline-block; }
      .main-nav ul li a {
        display: block;
        padding: 5px 10px;
        font-weight: 700;
        color: white;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        text-decoration: none;
        text-shadow: 0.5px 0.5px 0px black, 1px 1px 0px #40a8c4; }

.btt-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px; }
  .btt-button i {
    color: #40a8c4; }

.btt-button:hover i {
  color: darkblue; }

.about .col-left,
.about .col-right {
  padding: 5%;
  width: 100%; }
.about .about-image {
  display: inline-block;
  width: 250px;
  height: 250px;
  background-image: url("../assets/me/me.jpg");
  background-position: center center;
  background-size: cover;
  border-radius: 100%; }
.about .col-left {
  text-align: center; }
.about .col-right {
  text-align: center; }

.skills {
  background-color: #f7f7f7;
  text-align: center; }
  .skills .skill {
    padding: 5%;
    width: 50%; }
    .skills .skill p {
      display: none; }
    .skills .skill span {
      font-size: 50px;
      color: #40a8c4; }

@media all and (min-width: 600px) {
  h1 {
    font-size: 60px; }

  h2 {
    font-size: 40px;
    letter-spacing: 1px; }

  h3 {
    font-size: 25px; }

  header,
  section {
    padding: 50px 0; }

  section {
    height: 100vh; }

  .main-content {
    margin: 0 auto;
    max-width: 1024px; }

  .main-nav .name-logo {
    display: block;
    font-size: 1.2em; }
  .main-nav ul {
    margin: 20px;
    float: right; }
    .main-nav ul li {
      -webkit-transition: linear 150ms;
      transition: linear 150ms; }
      .main-nav ul li:hover {
        background-color: #40a8c4; }
      .main-nav ul li a {
        padding: 5px 25px;
        -webkit-transition: linear 150ms;
        transition: linear 150ms; }
        .main-nav ul li a:hover {
          -webkit-transform: scale(1.2);
                  transform: scale(1.2); }

  .about .col-left,
  .about .col-right {
    margin: 50px 0;
    width: 50%; }
  .about .about-image {
    display: inline-block;
    width: 100%;
    height: 50vh;
    border-radius: 0; }
  .about .col-right {
    text-align: left; }

  .skills .skill {
    padding: 2.5%;
    width: 33%; }
    .skills .skill p {
      display: block;
      font-size: 15px; }
    .skills .skill span {
      font-size: 55px; } }
