$skillscolor: #E0DFDF;

body {
  font-family: 'Roboto Mono', monospace;
  margin:0;
}
i{
  font-size: 40px;
}

.main-nav{
  background-color: lightblue;
}
.nameLogo, .nav{
  display: inline-block;
  margin: 20px;
}
.nav{
  list-style: none;
  padding-left: 0px;
  margin: 20px;
  float: right;
}
.nav li{
  display: inline-block;
  margin-right: 20px;
}





body{
  font-family: 'Roboto Mono', monospace;

}



.name-hero{
  text-align: center;
  background-image: url(../assets/me/london.jpg);
  background-size: cover;

}
.name-hero h1{
  margin: 0;
}
.name-hero h3{
  font-size: 15px;
}

.about-me {
  width: 100%;

}
.about-me h3{
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
}

.about-me .col-left, .about-me .col-right{
  width: 50%;
  float: left;
}
.about-me .col-right p{
  padding-left: 5%;
  padding-right: 5%;
}
.about-me .col-left .my-face{
  padding-left: 5%;
  padding-right: 5%;
  max-width: 1px;

}
.skills{
  background-color: $skillscolor;
  padding-top:30px;
  padding-bottom: 30px;
  text-align: center;
}
.skills h2{
  text-transform: uppercase;

}
.skills::after{
  content: '';
  display: block;
  clear: both;
}
.skills .skill-left, .skills .skill-center, .skills .skill-right{
  width: 33.333333%;
  display: inline-block;
  float: left;
}
.skills p {
  font-size: 15px;
}
