$skillscolor: #E0DFDF;
header{
  background: black;
  color:white

}

section{
  height: 100vh;
}
#nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  justify-content: center;
  li{
    display: inline;
    margin: 0 20px;
    font-size: 13px;

  }
}


body{
  font-family: 'Roboto Mono', monospace;

}
img{
  width: 5%;
  padding-left: 3.5%;
  padding-right: 3.5%;
}

#name{
  text-align: center;
}

#about {
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
#myFace {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
}


#myFace img{
  width: 100%;
  height: auto;

}
#content{
  height: 100%;
  width: 30%;
}
.about-title {
  font-size: 45px;
  border-color: rgb(0, 155, 252);
  border-width: medium;
}

.skills-title {
  text-align: center;


}

#skillsContainer{
  background-color: $skillscolor;
  height: 50%;
  overflow: visible;

}
#skills{
  display: inline-block;

  width: 100%;

  .skillsClass{
    text-align: center;
    display: inline-block;
    height: 50%;
    width: 30%;

  }
  img {
  display: inline-block;
  vertical-align: middle;
  margin:0 1em;
}

}
