@import 'variables';

// GENERAL
* { box-sizing: border-box; }

body {
  font-family: $main-font;
  line-height: 1.5em;
}

h1,
h2 {
  font-family: $title-font;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
  letter-spacing: 2px;
}

h2 {
  position: relative;
  margin-bottom: 100px;
  width: 100%;
  font: {
    size: 40px;
    style: bold;
  }
  color: $blue-highlight;
  letter-spacing: 1px;
  text-align: center;

  &::after {
    content: '';
    position: absolute;
    top: 1.5em;
    left: 0;
    right: 0;
    margin: auto;
    height: 2px;
    width: 100px;
    background: $yellow-highlight;
  }
}

h3 {
  font-size: 30px;
}

header,
section {
  display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
  padding: 50px 0;
  width: 100%;
  height: 100vh;
}

.main-content {
  margin: 0 auto;
  max-width: 1024px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.ionicon { font-size: 40px; }


// HEADER
.main-header {
  background: {
    image: url('../assets/images/ct.jpg');
  }
  background-size: cover;
}

.headline {
  width: 100%;
  color: white;
  text-align: center;
  h1 { margin: 0; }
}


// NAVIGATION
.main-nav {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  color: white;
  background-color: black;

  .name-logo { font-size: 1.2em; }

  ul {
    list-style: none;
    padding: 0px;
    margin: 20px;
    float: right;

    li {
      display: inline-block;
      transition: linear 150ms;
      &:hover { background-color: $blue-highlight; }

      a {
        display: block;
        padding: 5px 25px;
        font-weight: 700;
        color: white;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        text-decoration: none;
        text-shadow: 0.5px 0.5px 0px black, 1px 1px 0px $blue-highlight;
        transition: linear 150ms;

        &:hover {
          // text-shadow: none;
          transform: scale(1.2);
        }
      }
    }
  }
}


// SECTIONS
.about {
  .col-left,
  .col-right {
    padding: 5%;
    width: 50%;
  }
}

.skills {
  background-color: $light-gray;
  text-align: center;

  .skill {
    padding: 2.5%;
    width: 33.333333%;

    p { font-size: 15px; }
  }
}
.skill span{
  font-size: 55px;
  color: $blue-highlight;
}
.my-skills-title{
  color: $blue-highlight;
font-weight: 300;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;

}
.my-skills-title:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 2px solid red;

}
