@import 'variables';

// GENERAL
* { box-sizing: border-box; }

body {
  font-family: $main-font;
}

h2 {
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
}

section {
  padding: 50px 0;
  width: 100%;
}

.main-content {
  margin: 0 auto;
  max-width: 1024px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.ionicon { font-size: 40px; }

.underline-small{
  color:lightseagreen;
  position:relative;
  
}

.underline-small::after{
  content:'';
  height:2px;
  width:20%;
  background:#f24432;
  position:absolute;

  margin:auto;
  bottom:-5px;
  left:0; 
  right:0;
   
}


// NAVIGATION
.main-nav {
  background-color: lightblue;

  .name-logo, ul {
    display: inline-block;
    margin: 20px;
  }

  ul {
    list-style: none;
    padding: 0px;
    margin: 20px;
    float: right;

    li {
      display: inline-block;
      margin-right: 20px;
    }
  }
}


// HEADER
.main-header {
  padding: 25px 0;
  background: {
    image: url('../assets/me/london.jpg');
    size: cover;
    
  }

  .headline {
    text-align: center;
    h1 { margin: 0; }
    h3 { font-size: 15px; }
  }
}


// SECTIONS
.about {
  .col-left,
  .col-right {
    padding: 5%;
    width: 50%;
  }
}

.skills {
  background-color: $light-gray;
  text-align: center;

  .skill {
    padding: 2.5%;
    width: 33.333333%;

    p { font-size: 15px; }
  }
}
.skill span{
  font-size: 55px;
  color:lightseagreen;
}
.my-skills-title{
  color:lightseagreen;
font-weight: 300;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
  
}
.my-skills-title:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 2px solid red;

}


