@import url('https://fonts.googleapis.com/css?family=Anton|Roboto+Condensed');

$title-font: 'Anton', monospace;
$main-font: 'Roboto Condensed', sans-serif;

$light-gray: #f7f7f7;
$dark-gray: #393e46;
$medium-gray: #5c636e;
$yellow-highlight: #f8b500;
$blue-highlight: #40a8c4;
